footer
  .row
    .container
      .col-md-2.col-xs-12.bio-pic
        img.img.img-responsive(src='http://placehold.it/150x150&text=Bio-Image', alt='')
      .col-md-6.col-xs-12.bio-description
        h2 About Us
        p
          | Lorem qui aliquip veniam nostrud aliqua dolore excepteur nostrud labore fugiat commodo aute consectetur deserunt.
        p
          a(href='/about') Read more...
      .col-md-4.col-xs-12.bio-contact
        h2.title Join mailing list
        form
          .form-group
            input#email.form-control(type='email', placeholder='Email Address')
          button.btn.btn-info.btn-default(type='submit') Submit
  .row.copyright
    .container
      .col-md-12
        p
          | &copy; 2017 Blogify. Platform by 
          a(href='#') Derek Hawkins Design
// jQuery (necessary for Bootstrap's JavaScript plugins)
script(src="https://code.jquery.com/jquery-3.2.1.min.js", type='text/javascript')
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
