extends layout.pug

block content
  #about
    .row.spacing
      .container
        .col-md-6
          h2.page-title About Me
          img.img.img-responsive.visible-xs.visible-sm(src='http://placehold.it/414x436&text=Bio-Image', alt='')
          p
            | Elit velit nisi eu laboris officia labore aute id tempor nulla nulla incididunt ipsum adipisicing magna in laborum. Reprehenderit excepteur ex cupidatat enim ipsum nulla sit reprehenderit veniam. Mollit est exercitation officia dolor exercitation
            | qui aliqua sit nostrud incididunt pariatur.
          p
            | Aute enim laborum voluptate velit esse cillum nisi enim excepteur pariatur magna voluptate est non tempor laborum. Ea enim irure commodo labore consectetur non id cillum. Aliqua pariatur officia ex exercitation ea elit Lorem consequat fugiat sit
            | amet ad. Et adipisicing labore aliqua laborum voluptate sint occaecat.
          p
            | Occaecat eu consequat culpa id irure in deserunt ex voluptate nostrud mollit et amet exercitation exercitation fugiat. Dolore eiusmod amet ipsum proident elit pariatur ut labore officia consequat do aute do reprehenderit.
          p
            | Contact Me:
            br
            a(href='mailto:shebycherie@gmail.com') shebycherie@gmail.com
            //- a(href='mailto:derekmhawkins@gmail.com') derekmhawkins@gmail.com
        .col-md-6.hidden-xs.hidden-sm
          img.img.img-responsive(src='http://placehold.it/414x436&text=Bio-Image', alt='')
