extends layout.pug

block content

  #main
    .jumbotron.hero-image
      h1 Clever Tagline
      p Clever Statement
    .row
      .container
        .col-md-12
          p.text-center.sub-hero
            | This is the first sentence and...
            br
            | This is the second sentence.
    .row
      .container.topic-boxes
        .col-md-4.col-xs-12.career
          .thumbnail
            a(href="")
              img.img.img-responsive(src='./images/recent/career.jpg', alt='')
        .col-md-4.col-xs-12.lifestyle
          .thumbnail
            a(href="")
              img.img.img-responsive(src='./images/recent/lifestyle.jpg', alt='')
        .col-md-4.col-xs-12.travel
          .thumbnail
            a(href="")
              img.img.img-responsive(src='./images/recent/travel.jpg', alt='')
    .row.spacing
      .container-fluid.featured
        p.text-center This is some placeholder text that will hold featured content
    .row.spacing.post
      .container
        .col-md-12
          h3.post-title
          h6.post-date Blog Date
          img.img.img-responsive.post-image(src='http://placehold.it/940x660&text=Image')
          p.post-description
            | Amet sunt commodo veniam quis cillum deserunt amet consectetur Lorem. Incididunt excepteur ad labore consequat sunt ullamco nisi laborum culpa ea sint reprehenderit occaecat sit. Cupidatat exercitation commodo quis enim excepteur tempor nostrud
            | cupidatat irure aliqua.
          a.btn.btn-sm.btn-info.read-more(href='#', role='button') Read More
    .row.spacing.post
      .container
        .col-md-12
          h3.post-title Blog Title
          h6.post-date Blog Date
          img.img.img-responsive.post-image(src='http://placehold.it/940x660&text=Image')
          p.post-description
            | Amet sunt commodo veniam quis cillum deserunt amet consectetur Lorem. Incididunt excepteur ad labore consequat sunt ullamco nisi laborum culpa ea sint reprehenderit occaecat sit. Cupidatat exercitation commodo quis enim excepteur tempor nostrud
            | cupidatat irure aliqua.
          a.btn.btn-sm.btn-info.read-more(href='#', role='button') Read More
    .row.spacing.post
      .container
        .col-md-12
          h3.post-title Blog Title
          h6.post-date Blog Date
          img.img.img-responsive.post-image(src='http://placehold.it/940x660&text=Image')
          p.post-description
            | Amet sunt commodo veniam quis cillum deserunt amet consectetur Lorem. Incididunt excepteur ad labore consequat sunt ullamco nisi laborum culpa ea sint reprehenderit occaecat sit. Cupidatat exercitation commodo quis enim excepteur tempor nostrud
            | cupidatat irure aliqua.
          a.btn.btn-sm.btn-info.read-more(href='#', role='button') Read More
